// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mar
{
  margin-left:33%!important;
}

.sirina
{
  width:80% ;
}

.stavba:hover
{
  background-color: rgb(234, 232, 233);
 
 
}